################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MVC-Movie/FileContentIndex/3b0198dc-ac8c-40cc-a671-d9ba88c66083.vsidx
